.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 21.875rem;
  max-height: 60%;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
  z-index: 2;
  /* flex-direction: column;
  display: flex; */
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 0.063rem solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  opacity: 100% !important;
}

.cart .close img {
  position: absolute;
  height: 2rem;
  width: auto;
  top: 1rem;
  right: -0.3rem;
  cursor: pointer;
}

.cart-closed {
  position: absolute;
  top: 2.2rem;
  right: 4rem;
  font-size: 2rem;
  cursor: pointer;
  /* background-color: black; */
  border-radius: 50%;
  padding: .25rem;
  width: 4rem;
  /* height: 5rem; */
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 7.375rem;
  margin-right: 1rem;
}

.cart input {
  width: 3.125rem;
  padding: 0;
  margin: 0 .5rem 0 1.5rem;
}

/* galaxy fold */
@media only screen and (min-width: 280px) and (max-width: 653px) {
  .cart {
    max-width: 11.5rem;
    max-height: 60% !important;
  }
}

/* Samsung Galaxy S8+ */
@media only screen and (min-width: 360px) and (max-width: 740px) {
  .cart {
    max-width: 16rem;
  }
}

/* iPhone 12 Pro and iphone x */
@media only screen and (min-width: 375px) and (max-width: 812px) {
  .cart {
    max-width: 16rem;
  }
}

/* iPhone 14 Pro Max */
@media only screen and (min-width: 430px) and (max-width: 932px) {
  .cart {
    width: 20rem !important;
  }
}

@media only screen and (max-width: 576px) {

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 15rem;
    max-height: 30%;
    background-color: var(--light);
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    z-index: 2;
    
  }
  
  .cart h2 {
    font-size: 1.5rem;
    border-bottom: 0.063rem solid var(--dark);
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
  .cart .close img {
    position: absolute;
    height: 1.2rem;
    width: auto;
    top: 0.65rem;
    right: -0.5rem;
    cursor: pointer;
  }
  
  .cart-closed {
    position: absolute;
    top: -0.1rem;
    right: -0.2rem;
    font-size: 2rem;
    cursor: pointer;
    /* background-color: black; */
    border-radius: 50%;
    padding: .25rem;
    width: 2.65rem;
    /* height: 5rem; */
  }
  
  .cart-closed:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 4.375rem;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 3.125rem;
    padding: 0;
    margin: 0 .5rem 1rem 0;
  }

}

@media only screen and (max-width: 767px) {

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 15rem;
    max-height: 30%;
    background-color: var(--light);
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    z-index: 2;
    
  }
  
  .cart h2 {
    font-size: 1.5rem;
    border-bottom: 0.063rem solid var(--dark);
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
  .cart .close img {
    position: absolute;
    height: 1.2rem;
    width: auto;
    top: 0.65rem;
    right: -0.5rem;
    cursor: pointer;
  }
  
  .cart-closed {
    position: absolute;
    top: -0.1rem;
    right: -0.2rem;
    font-size: 2rem;
    cursor: pointer;
    /* background-color: black; */
    border-radius: 50%;
    padding: .25rem;
    width: 2.65rem;
    /* height: 5rem; */
  }
  
  .cart-closed:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 4.375rem;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 3.125rem;
    padding: 0;
    margin: 0 .5rem 1rem 0;
  }

}

/* ipad mini */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 20rem !important;
    max-height: 60%;
    background-color: var(--light);
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    z-index: 2;
    
  }
  
  .cart h2 {
    font-size: 1.8rem;
    border-bottom: 0.063rem solid var(--dark);
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
  .cart .close img {
    position: absolute;
    height: 1.2rem;
    width: auto;
    top: 0.65rem;
    right: -0.5rem;
    cursor: pointer;
  }
  
  .cart-closed {
    position: absolute;
    top: 0.7rem;
    right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    /* background-color: black; */
    border-radius: 50%;
    padding: .25rem;
    width: 3.5rem;
    /* height: 5rem; */
  }
  
  .cart-closed:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 9.375rem;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 3.125rem;
    padding: 0;
    margin: 0 .5rem 1rem 0;
  }

}

/* ipad air */
@media only screen and (min-width: 820px) and (max-width: 1180px) {
  .cart::-webkit-scrollbar{
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 15rem;
    max-height: 30%;
    background-color: var(--light);
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
    z-index: 2;
    
  }
  
  .cart h2 {
    font-size: 1.5rem;
    border-bottom: 0.063rem solid var(--dark);
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
  .cart .close img {
    position: absolute;
    height: 1.2rem;
    width: auto;
    top: 0.65rem;
    right: -0.5rem;
    cursor: pointer;
  }
  
  .cart-closed {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    /* background-color: black; */
    border-radius: 50%;
    padding: .25rem;
    width: 3.5rem;
    /* height: 5rem; */
  }
  
  .cart-closed:hover {
    transform: rotate(8deg);
  }
  
  .cart img {
    width: 4.375rem;
    margin-right: 1rem;
  }
  
  .cart input {
    width: 3.125rem;
    padding: 0;
    margin: 0 .5rem 1rem 0;
  }
}

/* nest hub max */
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .cart {
    width: 30%;
    max-height: 60%;
  }
  .cart img {
    width: 8.475rem;
    margin-right: 2rem;
  }
}